* 
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body 
{
  background: linear-gradient(100deg,#91e5fa, #387895);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}
.header 
{
  text-align: center;
  padding: 20px 0;
}
.header h1 
{
  padding: 15px;
  border-radius: 15px;
  border-style:solid;
  font-size: 2.2rem;
  background-color:rgba(255, 213, 159, 0.68);
  color: #ef6c20;
  text-shadow: 0 2px 5px rgba(0,0,0,0.2);
}
.pokedex-container 
{
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  width: 95%;
  max-width: 1100px;
  justify-content: center;
  padding: 20px;
}
.pokemon-list 
{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  gap: 20px;
  flex: 1;
}
.pokemon-card 
{
  border-radius: 25px;
  box-shadow: 0 6px 20px rgba(0,0,0,0.1);
  text-align: center;
  padding: 20px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  color: #fff;
}
.pokemon-card:hover 
{
  transform: translateY(-6px) scale(1.03);
  box-shadow: 0 8px 25px rgba(0,0,0,0.2);
}
.pokemon-card::after 
{
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: radial-gradient(circle, rgba(255,255,255,0.2) 0%, transparent 60%);
  transform: rotate(25deg);
}
.pokemon-card img 
{
  width: 100px;
  height: 100px;
  z-index: 2;
  position: relative;
}
.pokemon-card h3 
{
  text-transform: capitalize;
  margin-top: 10px;
  font-size: 1.1rem;
}
.pokemon-card p 
{
  opacity: 0.9;
  font-size: 0.9rem;
}
.type-label 
{
  display: inline-block;
  background: rgba(255,255,255,0.3);
  border-radius: 20px;
  padding: 4px 10px;
  font-size: 0.8rem;
  margin-top: 6px;
  z-index: 2;
  position: relative;
}
.pokemon-detail 
{
  flex: 1;
  border-radius: 25px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.15);
  padding: 25px;
  text-align: center;
  animation: fadeIn 0.5s ease-in-out;
  color: #fff;
}
.pokemon-detail.hidden 
{
  display: none;
}
.pokemon-detail img 
{
  width: 130px;
  margin: 15px 0;
}
.pokemon-detail h2 
{
  text-transform: capitalize;
  font-size: 1.8rem;
  color:#42698e;
}
.stats 
{
  background: rgba(255,255,255,0.2);
  padding: 15px;
  border-radius: 15px;
  margin-top: 15px;
}
.stats h3
{
  color: #0e2439;
}
.stat 
{
  display: flex;
  justify-content: space-between;
  margin-bottom: 6px;
  font-weight: 500;
  color: #ffffff;
}
.back-btn 
{
  background: rgba(255,255,255,0.3);
  border: none;
  padding: 10px 20px;
  border-radius: 15px;
  color: #fff;
  cursor: pointer;
  margin-bottom: 15px;
  font-weight: bold;
  transition: 0.3s;
}
.back-btn:hover 
{
  background: rgba(255,255,255,0.5);
}
footer 
{
  text-align: center;
  margin-top: auto;
  padding: 15px;
  color: #8015aa;
  font-size: 1rem;
}
@keyframes fadeIn 
{
  from {opacity: 0; transform: scale(0.95);}
  to {opacity: 1; transform: scale(1);}
}
